<a href="https://colab.research.google.com/github/pradipbhatt/Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
my_series = [5,8,9,10]
my_var = pd.Series(my_series)

In [5]:
my_var

0     5
1     8
2     9
3    10
dtype: int64

In [7]:
#Print a specific Value
my_var[3]   #pass the index of the element as the parameter to the variable.

10

In [15]:
# Creating labels using the index argument
my_index = ["A", 'B','C','D']
my_var = pd.Series(my_series, my_index)  #if maile my_index custom index banyera pass nagreko vaye default Index authyo.
print(my_var)

my_var["A"]  #Accessig the value using the cutom index

A     5
B     8
C     9
D    10
dtype: int64

5

In [23]:
cars = {
    "car1": "BMW",
    "car2": "Ford",
    "car3": "Honda",
    "Price":1212
}
my_var = pd.Series(cars)  #when we pas the dictionary to the .Series method
print(my_var)

print(f"The name of car 3 is = {my_var.loc['car3']}") #Accessing the value using the .loc method
print(f"The price of car 3 is = {my_var[2]}")    #Accessing the value using the index

car1       BMW
car2      Ford
car3     Honda
Price     1212
dtype: object
The name of car 3 is = Honda
The price of car 3 is = Honda

<ipython-input-23-8bfd81471150>:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"The price of car 3 is = {my_var[2]}")

In [24]:
# Pandas Dataframes
import numpy as np
from numpy.random import randn

In [34]:
my_data = randn(4,4)  #create the row * cols
my_rows = ['a','b','c','d']
my_cols = ['one','two','three','four']

In [36]:
#Create the data frame
df = pd.DataFrame(my_data,   my_rows,     my_cols)   #passing the data,rows,cols
df

        one       two     three      four
a  0.580762  0.219918 -0.505724 -0.091895
b  0.110879 -0.767148 -1.039135 -2.984750
c  0.016375  0.802354  0.474525  0.432558
d  0.749736 -0.616465  0.466291 -0.031355

In [37]:
from google.colab import sheets
sheet = sheets.InteractiveSheet(df=df)

https://docs.google.com/spreadsheets/d/1K7uOIrMnivgERLIf-F3SCATdHv-yw2-sTo1ZXD0bgqg#gid=0

In [40]:
#importing the downloaded csv file and use this
my_def2 = pd.read_csv("/content/customers-100.csv")
my_def2.head(3)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/

In [41]:
# Using the location i.e .loc
# PUll out rows
my_def2.loc[2]  #yesle location of 2nd index garyo

Index                                       3
Customer Id                   6F94879bDAfE5a6
First Name                                Roy
Last Name                               Berry
Company                         Murillo-Perry
City                            Isabelborough
Country                   Antigua and Barbuda
Phone 1                       +1-539-402-0259
Phone 2                   (496)978-3969x58947
Email                     beckycarr@hogan.com
Subscription Date                  2020-03-25
Website              http://www.lawrence.com/
Name: 2, dtype: object

In [42]:
# Pulling out multiple rows
my_def2.loc[[2,3,4]]  #yesari hami multiple rows lae pull garna sakchau

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [43]:
my_def2.head()   #custom yesari default garda 5 values return garne raix

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

# Video nbr 4 from Codemy.com

In [44]:
#grab certain number of last rows
my_def2.tail()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [45]:
# Grab certain nuber of last rows
my_def2.tail(10)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
90,91,5ef6d3eefdD43bE,Nina,Chavez,Byrd-Campbell,Cassidychester,Bhutan,053-344-3205,+1-330-920-5422x571,elliserica@frank.com,2020-03-26,https://www.pugh.com/
91,92,98b3aeDcC3B9FF3,Shane,Foley,Rocha-Hart,South Dannymouth,Hungary,+1-822-569-0302,001-626-114-5844x55073,nsteele@sparks.com,2021-07-06,https://www.holt-sparks.com/
92,93,aAb6AFc7AfD0fF3,Collin,Ayers,Lamb-Peterson,South Lonnie,Anguilla,404-645-5351x012,001-257-582-8850x8516,dudleyemily@gonzales.biz,2021-06-29,http://www.ruiz.com/
93,94,54B5B5Fe9F1B6C5,Sherry,Young,"Lee, Lucero and Johnson",Frankchester,Solomon Islands,158-687-1764,(438)375-6207x003,alan79@gates-mclaughlin.com,2021-04-04,https://travis.net/
94,95,BE91A0bdcA49Bbc,Darrell,Douglas,"Newton, Petersen and Mathis",Daisyborough,Mali,001-084-845-9524x1777,001-769-564-6303,grayjean@lowery-good.com,2022-02-17,https://banks.biz/
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [46]:
#get info about the dataframe
my_def2.info()   #yole kati item xan = rows , colms bataucha

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              100 non-null    int64
 1   Customer Id        100 non-null    object
 2   First Name         100 non-null    object
 3   Last Name          100 non-null    object
 4   Company            100 non-null    object
 5   City               100 non-null    object
 6   Country            100 non-null    object
 7   Phone 1            100 non-null    object
 8   Phone 2            100 non-null    object
 9   Email              100 non-null    object
 10  Subscription Date  100 non-null    object
 11  Website            100 non-null    object
dtypes: int64(1), object(11)
memory usage: 9.5+ KB

In [48]:
#get shape of the rows and colms
my_def2.shape  #yesle rows*cols ko details dincha

(100, 12)

In [49]:
#Getting number of dimensions
my_def2.ndim

2

In [50]:
#Get the column list
my_def2.columns

Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City',
       'Country', 'Phone 1', 'Phone 2', 'Email', 'Subscription Date',
       'Website'],
      dtype='object')

In [51]:
my_def2.dtypes

Index                 int64
Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
dtype: object

In [58]:
#get the some statics of our data like min,max value , mean , Q1,Q2,Q3.
my_def2.describe()

            Index
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [60]:
# Describe a specific method
my_def2["First Name"].describe()

count        100
unique        93
top       Sheryl
freq           2
Name: First Name, dtype: object

In [61]:
my_def2["Customer Id"].describe()

count                 100
unique                100
top       DD37Cf93aecA6Dc
freq                    1
Name: Customer Id, dtype: object

In [62]:
# Select specific Column using braces
my_def2["First Name"]

0       Sheryl
1      Preston
2          Roy
3        Linda
4       Joanna
        ...
95        Karl
96        Lynn
97        Fred
98      Yvonne
99    Clarence
Name: First Name, Length: 100, dtype: object

In [65]:
# Select specific Column using the dot notation
my_def2.Company

0                     Rasmussen Group
1                         Vega-Gentry
2                       Murillo-Perry
3     Dominguez, Mcmillan and Donovan
4            Martin, Lang and Andrade
                   ...
95                          Carey LLC
96              Ware, Burns and Oneal
97                      Schmitt-Jones
98                 Fitzgerald-Harrell
99                 Le, Nash and Cross
Name: Company, Length: 100, dtype: object

In [69]:
# Select specific column using location i.e loc
my_def2.iloc[1:,[2,3]]  #yesle specific columns lae select garne kaam garne vayo

   First Name Last Name
1     Preston    Lozano
2         Roy     Berry
3       Linda     Olsen
4      Joanna    Bender
5       Aimee     Downs
..        ...       ...
95       Karl     Greer
96       Lynn  Atkinson
97       Fred    Guerra
98     Yvonne    Farmer
99   Clarence    Haynes

[99 rows x 2 columns]

# Video 5 How to count the data in the dataframe

In [76]:
# Count the alag alag values lae ghatdo karam ma rakhne
my_def2["Company"].value_counts()

Company
Simon LLC                      2
Rasmussen Group                1
Knight, Abbott and Hubbard     1
Parrish Ltd                    1
Huynh and Sons                 1
                              ..
Mcgee Group                    1
Acosta, Petersen and Morrow    1
Sawyer PLC                     1
Santana-Duran                  1
Le, Nash and Cross             1
Name: count, Length: 99, dtype: int64

In [77]:
# Count the alag alag values lae increasing karam ma rakhne
my_def2["Company"].value_counts(ascending=True)

Company
Rasmussen Group               1
Huynh and Sons                1
Conway-Mcbride                1
Keller-Coffey                 1
Wade PLC                      1
                             ..
Hinton, Chaney and Stokes     1
Simmons Group                 1
Palmer, Barnes and Houston    1
Le, Nash and Cross            1
Simon LLC                     2
Name: count, Length: 99, dtype: int64

In [79]:
# Count Distinct Values in descending order
my_def2["Company"].value_counts()

Company
Simon LLC                      2
Rasmussen Group                1
Knight, Abbott and Hubbard     1
Parrish Ltd                    1
Huynh and Sons                 1
                              ..
Mcgee Group                    1
Acosta, Petersen and Morrow    1
Sawyer PLC                     1
Santana-Duran                  1
Le, Nash and Cross             1
Name: count, Length: 99, dtype: int64

In [81]:
# Customers with the NAN
my_def2["Company"].value_counts(dropna=False)

Company
Simon LLC                      2
Rasmussen Group                1
Knight, Abbott and Hubbard     1
Parrish Ltd                    1
Huynh and Sons                 1
                              ..
Mcgee Group                    1
Acosta, Petersen and Morrow    1
Sawyer PLC                     1
Santana-Duran                  1
Le, Nash and Cross             1
Name: count, Length: 99, dtype: int64

In [82]:
# Get relative frequency - Percentage
my_def2["Company"].value_counts(normalize=True)

Company
Simon LLC                      0.02
Rasmussen Group                0.01
Knight, Abbott and Hubbard     0.01
Parrish Ltd                    0.01
Huynh and Sons                 0.01
                               ...
Mcgee Group                    0.01
Acosta, Petersen and Morrow    0.01
Sawyer PLC                     0.01
Santana-Duran                  0.01
Le, Nash and Cross             0.01
Name: proportion, Length: 99, dtype: float64

In [86]:
# Get specific Item count
my_def2["Company"].value_counts().get("Simon LLC")
my_def2["Company"].value_counts()["Simon LLC"]

2

In [88]:
# Count Unique values- sizes
my_def2.groupby("Company").size()  #returns the unique elements of the column in the ascending order

Company
Acosta, Petersen and Morrow    1
Adkins-Salinas                 1
Anderson Ltd                   1
Beck-Hendrix                   1
Blankenship-Arias              1
                              ..
Ware, Burns and Oneal          1
Warren Ltd                     1
Waters, Chase and Aguilar      1
Watts-Donaldson                1
Winters-Mendoza                1
Length: 99, dtype: int64