<a href="https://colab.research.google.com/github/pradipbhatt/Python/blob/main/python_complete.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x = ["pradip","Harry","Shyam"]

In [3]:
print("pradip"  in x)
# this helps to print the true if it find the pradip string in the variable

True

In [4]:
print("yogesh"  in x)
# this helps to print the true if it find the pradip string in the variable

False

In [5]:
print("pradip"  in x)
print("yogesh" in x)
# this helps to print the true if it find the pradip string in the variable

True
False

In [6]:
# types of the data types in python
# what is data types and types ?
# used the type of my variable like mero variable ko type kun ho vaenra bataune
# like it's basically as a container where i store the values
# why data types required??
# becasuse helps to check the type of variables
# -->might be mixed of two data types
# int , float , boolean , string
# suppose we have numbers two we may add , substract , multiply on those variables
# and magical thing is here in python we wont give the data type python automatically assign the datat ypes
a = " hello testing"
print(type(a))

<class 'str'>

In [7]:
data = 12
print(data)
print(type(data))

12
<class 'int'>

In [8]:
data3 = 4+ 4j
print(type(data3))

<class 'complex'>

In [9]:
age = True
print(type(age))

<class 'bool'>

In [10]:
x = ["aaple","mango","banana"]
print(type(x))
# list type data

<class 'list'>

In [11]:
x.append("mango")

In [12]:
print(x)

['aaple', 'mango', 'banana', 'mango']

In [20]:
len(x)

4

In [14]:
x[3]

'mango'

In [15]:
x

['aaple', 'mango', 'banana', 'mango']

In [27]:
pradip = {
    "name":"pradip bhatt",
    "Age":"22",
    "salary":"negotiable"
}

In [22]:
print(type(pradip))

<class 'dict'>

In [23]:
pradip["name"]

'pradip bhatt'

In [25]:
pradip.get("name")

'pradip bhatt'

In [28]:
len(pradip)

3

# Set
**Set it the well defined objects**

In [30]:
y = {"pradip","yogesh","pradip"}
y
type(y)

set

In [31]:
y.add("jelly")

In [32]:
y

{'jelly', 'pradip', 'yogesh'}

In [33]:
y.add("sorry")

In [34]:
y

{'jelly', 'pradip', 'sorry', 'yogesh'}

Set le distinct element matra lagcha so similar lae override garcha and here we use the .add to add new things no like append

In [39]:
# set wont support indexing
demo_Set = {
    "pradip","yogesh","saroj","pradip"
}

In [40]:
demo_Set

{'pradip', 'saroj', 'yogesh'}

# Let's talk about the touples type data

In [41]:
# prompt: step wise step to practise the touples

# Tuples are ordered, immutable sequences of items.  Immutability means you can't change a tuple after it's created.

# 1. Creating Tuples:
my_tuple = (1, 2, 3, "apple", 3.14)  # Parentheses are optional, but recommended.
another_tuple = 1, 2, "banana"      # Tuple packing
print(my_tuple)
print(another_tuple)
print(type(my_tuple))


# 2. Accessing Elements:
print(my_tuple[0])  # Access the first element (index 0)
print(my_tuple[3])  # Access the fourth element
#my_tuple[0] = 4  # This will raise a TypeError because tuples are immutable


# 3. Tuple Operations:

# Length
print(len(my_tuple))

# Concatenation
combined_tuple = my_tuple + another_tuple
print(combined_tuple)

# Repetition
repeated_tuple = my_tuple * 2
print(repeated_tuple)

# Slicing (creates a new tuple):
sliced_tuple = my_tuple[1:4]  # Elements from index 1 up to (but not including) index 4
print(sliced_tuple)


# 4. Tuple Methods:

# count(): Counts the occurrences of a value
print(my_tuple.count(3))  # Output: 1 (because 3 appears once)

# index(): Returns the index of the first occurrence of a value
print(my_tuple.index("apple"))  # Output: 3

# 5. Immutability Demonstration
# my_tuple[0] = 10  # This will result in a TypeError

# 6. Iterating through a Tuple:

for item in my_tuple:
    print(item)

# 7. Tuple Unpacking:
a, b, c, d, e = my_tuple  # Assign elements to individual variables
print(a,b,c,d,e)

# 8. Using tuples as dictionary keys (because they're immutable)
my_dict = {(1, 2): "value"} # tuples can be keys in dictionaries
print(my_dict)

# 9. Mixed data types
mixed_tuple = (1, "hello", 3.14, True)
mixed_tuple

(1, 2, 3, 'apple', 3.14)
(1, 2, 'banana')
<class 'tuple'>
1
apple
5
(1, 2, 3, 'apple', 3.14, 1, 2, 'banana')
(1, 2, 3, 'apple', 3.14, 1, 2, 3, 'apple', 3.14)
(2, 3, 'apple')
1
3
1
2
3
apple
3.14
1 2 3 apple 3.14
{(1, 2): 'value'}

(1, 'hello', 3.14, True)